<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>✈ Lista de Administradores ✈</title>
</head>
<body>
<h1>✈ Lista de Administradores ✈</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre de usuario</th>
        <th>Contraseña</th>
        <th>Correo electrónico</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="administradores : ${listaAdministradores}">
        <td th:text="${administradores.id}"></td>
        <td th:text="${administradores.email}"></td>
        <td th:text="${administradores.nombre}"></td>
        <td th:text="${administradores.pwdAdmin}"></td>
        <td>
            <a th:href="@{/CrudRepo/ModificarAdministradores(id=${administradores.id})}">Modificar</a>
            <a th:href="@{/CrudRepo/ElimnAdministradores(id=${administradores.id})}">Eliminar</a>
        </td> <!--Botones-->
    </tr>

    </tbody>
</table>
</body>
</html>